<div class="login">
	<div class="container">
		<div class="form">
		<% if current_user.nil? %>
 <h1>Connexion</h1>
     
		<%= form_for(:session, url: login_path) do |f| %> 
		  <%= f.text_field :username, :placeholder => "username" , :class=> 'form_signup' %> 
		  <%= f.password_field :password, :placeholder => "Password" , :class=> 'form_signup' %> 
		  <%= f.submit "Se Connecter", class: "btn btn-success" %>
		<% end %>
		<% else %>

		Vous êtes déja connecté
		<% end %>
    </div>
	</div>
</div>