<div class="login">
  <div class="container">
    <div class="form_signup">
      <h1>Edit Product</h1>
      <%= render 'form' %>

       <%= link_to 'Show' , '/admin/products/show/'+"#{@product.id}" %> |   
      <%= link_to 'Back', admin_products_path %> |
      <%= link_to 'Destroy', products_path(@product) , method: "delete" %>
    </div>
  </div>
</div>