<div class="special">
  <div class="container">
    <h3>Les Produits de la Vente <%= @sale.label %></h3>
    <div class="specia-top">
      <ul class="grid_2">

    <% @products.each do |product| %>
      <%= render "/products/product_row", product: product, order_item: @order_item %>
    <% end %>


</ul></div>